@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@500&display=swap');

html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Phudu', cursive;
}


